body
{
    font-family: Arial;
    margin: 0;
}

#lewy
{
    background-color: rgb(255,127,80);
    color: white;
    width:50%;
    height:410px;
    float: left;
}

#prawy
{
    background-color: rgb(255,127,80);
    color: white;
    width:50%;
    height:410px;
    float: left;
}

#baner
{
    background-color: rgb(220,220,220);
    padding: 20px;
    text-align: center;
}

#główny
{
    background-color: rgb(220,220,220);
    padding: 20px;
    text-align: center;
    clear: both;
}

#stopka_lewa
{
    background-color: rgb(255,127,80);
    color:white;
    width:50%;
    height:100px;
    float:left;
}

#stopka_prawa
{
    background-color: rgb(255,127,80);
    color:white;
    width:50%;
    height:100px;
    float:left
}

table
{
    border: solid 1px rgb(255,127,80);
    padding: 10px;
    text-align: center;
}

td
{
    border: solid 1px rgb(255,127,80);
    padding: 10px;
    text-align: center;
}

a
{
    color: white;
}
